argon2-cffi
astroid
async-generator
attrs
backcall
bleach
certifi
cffi
chardet
click
cycler
dataclasses
decorator
defusedxml
docopt
entrypoints
Flask
future
gunicorn
idna
ipykernel
ipython
ipython-genutils
ipywidgets
isort
itsdangerous
jedi
Jinja2
joblib
jsonschema
jupyter
jupyter-client
jupyter-console
jupyter-core
jupyterlab-pygments
kiwisolver
lab
lazy-object-proxy
MarkupSafe
matplotlib
mccabe
mistune
nbclient
nbconvert
nbformat
nest-asyncio
notebook
numpy
packaging
pandas
pandocfilters
parso
pexpect
pickleshare
Pillow
pipreqs
prometheus-client
prompt-toolkit
ptyprocess
pycodestyle
pycparser
pyflakes
Pygments
pylint
pyparsing
pyrsistent
python-dateutil
pytz
pyzmq
qtconsole
QtPy
requests
scikit-learn
scipy
seaborn
Send2Trash
simplejson
six
sklearn
terminado
testpath
threadpoolctl
toml
torch
torchaudio
torchvision
tornado
traitlets
txt2tags
typing-extensions
urllib3
wcwidth
webencodings
Werkzeug
widgetsnbextension
wrapt
xgboost
yarg
